html{
    box-sizing: border-box;
}
*{box-sizing: inherit;}

aside {
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    width: 40%;
}

body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

div{
    padding: auto;
    display: inline-block;
}
#asidecontainer{width: 10%;}

#container{
    margin:  10px;
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img#logo{
    width: 60px;
    height: 60px;
    /* width: 100px;
    height: 100px; */
     
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 15px;
    color: rgb(225, 99, 3);
    transform: translateX(50px);
}

h3 {
    font-size: 16px;
    margin-top: 10px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    font-weight: 900;
}

.parent-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0px 30px 10px 30px;
    /* border: solid 2px rgb(255, 145, 0); */
}
.left-subcontainer {
    margin: 0 25px 0 25px;
    padding: 20px;
    /* border: solid 2px pink; */
    /* width: 500px; */
}

.right-subcontainer {
    padding: 20px;
    margin: 0 25px 0 25px;
}

.demo-image img {
    border: solid 2px rgb(249, 161, 83);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    height: 400px;
    /* width: 100%; */
    /* display: none; */
}

.contacts-container {
    display: flex;
    flex-direction: row;
}

.contactName-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.contactFullName-container {
    display: flex;
    flex-direction: row;
}

.phoneNumber-container {
    margin-left: 15px;
}

.contact-input {
    width: 105px;
}

.phone-input { 
    width: 155px;
}

#message {
    height: 100px;
    width: 400px;
}

#city {
    margin-right: 30px;
}

#state {
    width: 70px; 
}

#details {
    margin-bottom: 10px;
    width: 200px;
}

.time-container {
    display: flex; 
}

.time-header {
    margin-right: 20px;
}

#time {
    width: 120px;
    margin-bottom: 5px;
}

.centered{
    display: flex;
    justify-content: center;
}

.example-header {
    font-style: italic;
}

#submit-btn {
    background-color: rgb(64, 43, 43);
    color: white;
    margin-top: 40px;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
}

#footer {
    position: relative;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    /* border: solid red 2px; */
}

#details {
    width: 230px;
    margin-top: 10px;
}

footer{text-align: center;}

